In [ ]:
#dictionary=>ordered collection of elements
#dict is stored in key-value pair
#- key should be unique always
#- dict is mutable but keys are always immutable

In [1]:
my_dict={ "name": "Alice",
    "age": 25,
    "city": "New York"}
print(my_dict)

{'name': 'Alice', 'age': 25, 'city': 'New York'}

In [2]:
my_dict2={"name":"Bob",
          "age":30,
          "city":"London"}
print(my_dict2)

{'name': 'Bob', 'age': 30, 'city': 'London'}

In [4]:
my_dict.get('name') #accessing values through keys

'Alice'

In [5]:
my_dict2.get('age')

30

In [7]:
#for update=>
my_dict["city"] = "disneyland"  # Adds new key-value pair
my_dict["age"] = 26  # Updates age
print(my_dict)

{'name': 'Alice', 'age': 26, 'city': 'disneyland'}

In [9]:
#adds new key-value pair
my_dict.update({"age": 27, "gender": "Female"})
print(my_dict)

{'name': 'Alice', 'age': 27, 'city': 'disneyland', 'gender': 'Female'}

In [17]:
#Removing Elements
my_dict.pop("age")
print(my_dict)

{'name': 'Alice', 'city': 'disneyland', 'gender': 'Female'}

In [18]:
my_dict.popitem()
print(my_dict)  # delete Last inserted item(key-value pair)

{'name': 'Alice', 'city': 'disneyland'}

In [21]:
del my_dict["city"]
print(my_dict)  # delete specific item

{'name': 'Alice'}

In [23]:
# Removes all elements from the dictionary.
my_dict.clear()
print(my_dict)

{}

In [24]:
my_dict={ "name": "Alice",
    "age": 25,
    "city": "New York"}
print(my_dict)

{'name': 'Alice', 'age': 25, 'city': 'New York'}

In [26]:
#checks if a key exists
print("name" in my_dict)  # True
print("salary" in my_dict)  # False

True
False

In [31]:
print(my_dict.keys())
print(my_dict.values())
print(my_dict.items())

dict_keys(['name', 'age', 'city'])
dict_values(['Alice', 25, 'New York'])
dict_items([('name', 'Alice'), ('age', 25), ('city', 'New York')])

In [33]:
new_dict = my_dict.copy()  #creates a shallow copy of dictionary
print(new_dict)

{'name': 'Alice', 'age': 25, 'city': 'New York'}

In [34]:
#leetcode Q.=>integer to roman in dict
num=int(input("enter number"))
roman_dict = {
    1000: "M", 900: "CM", 500: "D", 400: "CD",
    100: "C", 90: "XC", 50: "L", 40: "XL",
    10: "X", 9: "IX", 5: "V", 4: "IV", 1: "I"
}
roman = ""
for value, symbol in roman_dict.items():
    while num >= value:
        roman += symbol
        num -= value
print("Roman numeral:", roman)

enter number3
Roman numeral: III

In [36]:
#Set=>
#set can be formed using {} or set()
#unordered collection of elements(cannot access its elements using index)
#does not allow duplicate values
#set is mutable data type(we can add,modify or remove elements)

In [37]:
my_set=set({})

In [38]:
my_set = {10, 20, 30, 34, 10}
print(my_set)

{10, 20, 34, 30}

In [39]:
my_set.add(50)  #can add only one element
print(my_set)

{34, 10, 50, 20, 30}

In [40]:
my_set = {10, 20, 30, 34, 10}
my_set.update({100,200})  #can add multiple elements
print(my_set)

{34, 20, 100, 200, 10, 30}

In [42]:
my_set.pop()

20

In [43]:
my_set.remove(100)# we written value not index
print(my_set)

{200, 10, 30}

In [44]:
my_set={10,20,30,40,50}
my_set2={30,40,50}
my_set.union(my_set2)

{10, 20, 30, 40, 50}

In [45]:
my_set={10,20,30,40,50}
my_set2={30,40,50}
my_set.intersection(my_set2)

{30, 40, 50}

In [46]:
my_set={10,20,30,40,50}
my_set2={30,40,50}
my_set.difference(my_set2)

{10, 20}

In [49]:
my_set={10,20,30,40,50}
my_set2={30,40,50}
my_set.symmetric_difference(my_set2)

{10, 20}

In [50]:
my_set={10,20,30,40,50}
my_set2={30,40,50}
my_set.issubset(my_set2)

False

In [51]:
my_set={10,20,30,40,50}
my_set2={30,40,50}
my_set.issuperset(my_set2)

True