In [ ]:
#functions=>collections of statements or block of code
# write logic=use it multiple time
#code reusability
y=20
def func():
  x1=10 #variable
  y=500
  print("hey tushar",x1,y)

In [ ]:
func()
print("outside function:",y)

hey tushar 10 500
outside function: 20

In [ ]:
y =20
def func():
    global y
    x="niki"
    y=400
    print('hey',x,y)

func()
print(y)

hey niki 400
400

In [ ]:
def func():
  x1=10
  print("hey tushar")

In [ ]:
#type hint=>
def func(z:int,k:str) : #parameter
  print("hey tushar",z)

In [ ]:
def func(x):
  print("inside=>" ,x.split(" ")[-1])
func("hey tushar this side")

inside=> side

In [ ]:
u2=lambda x:x.split(" ")[-1]
u2("hey tushar this side")

'side'

In [ ]:
"".join(["hey user"])

'hey user'

In [ ]:
#"hey tushar here user"=>"user tushar here hey"
mylist="hey tushar here user".split(" ")
print(mylist[-1],mylist[1:len(mylist)-1],mylist[0])
"".join([mylist[-1],mylist[1:len(mylist)-1],mylist[0]])

user ['tushar', 'here'] hey

TypeError: sequence item 1: expected str instance, list found

In [ ]:
def func(a):
  return "inside",a+5

In [ ]:
print(func(18))

('inside', 23)

In [ ]:
def func(a):
  return a+5

out=func(18)
print(out)

23

In [ ]:
def func(a):
  return a+5

In [ ]:
mylist=[10,102,3,4,56]

In [ ]:
# next(map(func,mylist))
#or
def func(a):
  return a+5

x=map(func,mylist)
print(next(x))
print(next(x))

15
107

In [ ]:
x=map(lambda a:a+5,mylist)
print(next(x))
print(next(x))

15
107

In [ ]:
list2=[10,20,30,40,50]
x=map(lambda a:a%2==0,list2)
print(next(x))
print(next(x))

True
True

In [ ]:
list3=[10,102,3,4,56]
list(map(lambda a:a%2==0,list2))

[True, True, False, True, True]

In [ ]:
list3=[10,102,3,4,56]
list(filter(lambda a:a%2==0,list2))

[10, 102, 4, 56]

In [ ]:
#Q.1=with zip
l1=[10,20,300]
l2=[40,50,60]
l3=zip(l1,l2)
print(dict(l3))

{10: 40, 20: 50, 300: 60}

In [ ]:
#without using zip
l1 = [10,20,300]
l2 = [40,50,60]
di = {}
for i in l1:
    for j in l2:
        di[i]=j
print(di)

{10: 60, 20: 60, 300: 60}

In [ ]:
#Q.2=
students = {
    "Alice": 85,
    "Bob": 70,
    "Charlie": 90,
    "David": 65,
    "Eve": 95
}
score = int(input("Enter the score: "))
for name in students:
    if students[name] > score:
        print(dict(name))

Enter the score: 65

TypeError: 'dict' object is not callable

In [ ]:
#Q.2=
students = {
    "Alice": 85,
    "Bob": 70,
    "Charlie": 90,
    "David": 65,
    "Eve": 95
}
score = int(input("Enter the score: "))
result_dict = {}
for name, student_score in students.items():
    if student_score > score:
        result_dict[name] = student_score
print(result_dict)

Enter the score: 65
{'Alice': 85, 'Bob': 70, 'Charlie': 90, 'Eve': 95}

In [ ]:
# Q3 {10:19,  11:20,  13:None}
# delete the key-value pair where the value is none
mylist = {10:19,  11:20,  13:None}
dict1 = {}
for i,j in mylist.items():
    if j is not None:
        dict1[i]=j

print(dict1)

{10: 19, 11: 20}

In [ ]:
# Q4:   {"x":5, "y":7, "z":10}
# print new dictionary as square of each key {x:25, y:49,  z:100}
dict1 ={"x":5, "y":7, "z":10}
di ={}
for i , j in dict1.items():
    di[i] = j**2
print(di)

{'x': 25, 'y': 49, 'z': 100}

In [ ]:
# Q5
# create a dictionary as cube of number from 1 to 5
# {1:1, 2:8, 3:27, 4:64, 5:125}
# Note use only thing we have learnt
dict1 ={"x":5, "y":7, "z":10}
di ={}
for i , j in dict1.items():
    di[i] = j**3
print(di)

{'x': 125, 'y': 343, 'z': 1000}